body{
    padding: 0px;
    margin: 0px;
}

.header{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: right;
    width: 50%;
    padding: 40px 123px;
    
}
.button1{
    padding-left:  25px;
    padding-right:  25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    background-color: none;
}


.button2{
    padding-left:  25px;
    padding-right:  25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    background-color: none;
}


.button3{
    padding-left:  25px;
    padding-right:  25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    background-color: none;
}


.button4{
    padding-left:  25px;
    padding-right:  25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    background-color: none;
}
.logo{
    display: flex;
    justify-content: left;
    width: 50%;
    padding: 40px 123px;
}
.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.space-evenly{
    justify-content: space-evenly;
}
.Mytext{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #1E2833;
}
.pointer{
    cursor: pointer;
}