body{
    padding: 0px;
    margin: 0px;
}

.header{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: right;
    width: 50%;
    padding: 40px 123px;
    
}
.button1{
    padding-left:  25px;
    padding-right:  25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    background-color: none;
}


.button2{
    padding-left:  25px;
    padding-right:  25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    background-color: none;
}


.button3{
    padding-left:  25px;
    padding-right:  25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    background-color: none;
}


.button4{
    padding-left:  25px;
    padding-right:  25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    background-color: none;
}
.logo{
    display: flex;
    justify-content: left;
    width: 50%;
    padding: 40px 123px;
}
.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.space-evenly{
    justify-content: space-evenly;
}
.Mytext{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #1E2833;
}
.pointer{
    cursor: pointer;
}
.scroll-btn{
    display: none;
    z-index: 9999;
    padding: 15px;
    border: gray 6px solid;
    border-radius: 50%;
    position: fixed;
    top: 78%;
    left: 90%;
    cursor: pointer;
}
.scroll-btn:hover{
    animation: myanim 0.5s infinite;
}

@keyframes myanim {
    0% { top: 78%; }
    50% { top: 76%; }
    100% { top: 78%; }
}
#languages{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 50px;
    right: 60px;
    width: 100px;
}
#geo{
    border: 1px solid black;
    padding: 20px 20px;
    cursor: pointer;
    color: black;
    border-radius: 50%;
    margin-right: 5px;
    background-image: url("images/geflag.png");
    background-position: center;
    background-size: 110%;
    background-color: #efefef;
}
#geo:hover{
    text-decoration: underline;
    color: royalblue;
}
#eng{   
    border: 1px solid black;
    padding: 20px 20px;
    cursor: pointer;
    color: black;
    border-radius: 50%; 
    margin-left: 5px;
    background-color: #efefef;
    background-image: url("images/ukflag.png");
    background-position: center;
    background-size: 135%;
}
#eng:hover{
    text-decoration: underline; 
    color: royalblue;
}